{% extends 'base.html' %}

{% block content %}
<div class="row">
  <a class="newest-release-cover col-md-6"
     href="{{ release.get_absolute_url }}">
    <img class="img-fluid" srcset="{{ release.cover_thumb_550.url }},
                                   {{ release.cover.url }} 2x"
                              src="{{ release.cover.url }}">
  </a>
  <div class="newest-release-info col-md-6 center-block">
    <h1>{{ release.title }}</h1>
    {% if release.is_released %}
      <p>Available now.</p>
    {% else %}
      <p>Available {{ release.release_date|date:"Y-m-d" }}.</p>
    {% endif %}

    {% if release.link_set %}
    <ul class="list-inline">
      {% for link in release.link_set.all %}
        <li class="list-inline-item">
          <a href="{{ link.url }}">{{ link.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
</div>
{% endblock content %}
